.half-menu-options {
  height: fit-content;
  padding: 12px 24px;
  box-sizing: border-box;
  background-color: var(--secondary-background-color);

  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 300;
}

.half-menu-options .separator {
  width: 90%;
  height: 1px;
  margin: 5px auto;
  background-color: var(--primary-border-color);

  /* transform: translateX(25%); */
}

.option {
  position: relative;
  padding: 10px 8px 10px 40px;
  border-radius: 4px;

  cursor: pointer;
  user-select: none;
  transition: all var(--fast-transition);
}
.option:hover {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}

.option .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.option .icon-refresh.refreshing {
  animation: vertical-center-spin 3s linear infinite;
}
@keyframes vertical-center-spin {
  from {
    transform: translateY(-50%) rotate(00deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
/*
.option:hover .icon-switch.switched:after {
  transform: translateX(-10%);
}

.option:hover .icon-switch.switched:before {
  transform: translateX(10%);
}

.option:hover .icon-switch:after {
  transform: translateX(20%);
}

.option:hover .icon-switch:before {
  transform: translateX(-20%);
} */
