.link-menu {
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transition: all var(--fast-transition), width var(--med-transition);
}

.link-menu:not(.active) {
  visibility: hidden;
  width: 0;
}

.link-menu .icon-right-arrow {
  position: absolute;
  top: 18px;
  right: 12px;
  transform: translateY(-50%);
  opacity: 0.5;

  transition: opacity var(--fast-transition);

  cursor: pointer;
}
.link-menu .icon-right-arrow:hover {
  opacity: 1;
}
.link-menu:not(.active) .icon-right-arrow {
  opacity: 0;
  pointer-events: none;
}
