@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.parity {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.parity .panel:not(:first-child) {
  border-left: solid 1px var(--primary-border-color);
}

.menu .header:first-child {
  position: relative;
  padding: 20px 48px 20px 24px;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.menu .search-wrapper {
  padding: 0 24px;
  /* background-color: var(--secondary-background-color); */
}

.menu-list {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
  padding: 4px 0 4px 0;

  list-style: none;
}
.menu-list p {
  width: fit-content;
  padding: 0 24px;
}
.menu-list .icon-refresh {
  position: relative;
  top: 2px;
  margin-left: 6px;
  background-image: url('../../assets/refresh-gray.svg');
  animation: spin 3s linear infinite;
}
