@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.parity {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transform: translate3d(0, 0, 0);
}
.parity .panel:not(:first-child) {
  border-left: solid 1px var(--primary-border-color);
}

.menu .header:first-child {
  position: relative;
  padding: 20px 24px;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
}

.menu .search-wrapper {
  padding: 0 24px;
}
