.half-item {
  position: relative;
  height: 13px;
  padding: 10px 40px 10px 24px;

  font-size: 13px;
  line-height: 13px;
  cursor: pointer;
}
.half-item.active {

}
.half-item:hover {
  background-color: var(--secondary-background-color);
}

.half-item .link-count {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  text-align: right;
  color: var(--tertiary-text-color);
  font-size: 12px;
  line-height: 12px;
}

.half-item .link-count .icon-link {
  vertical-align: text-bottom;
}
